html{
	width: 100%;
	height: 100%;
	cursor: url(../img/cursor_cross.png), auto;
}

body{
	background-color: #0000ff;
	color: #ffffff;
	text-align: center;
	margin: 0;
}

h1{
	font-size: 125px;
	line-height: 109px;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	height: 100px;
	overflow: hidden;
}

.serif{
	font-family: 'Libre Baskerville', serif;
}

.sans{
	font-family: 'Open Sans', sans-serif;
}

.h1-primary{
	color: #fff;
	font-weight: 800;
	letter-spacing: -10px;
}

.h1-secondary{
	color: #83a9ff;
	font-weight: 100
}

#page_content{

}

.arriving{
	position: fixed;
	top: 30px;
	left: 0;
	width: 100%;
	text-align: center;
	color: #83a9ff;
	font-size: 10px;
	line-height: 10px;
	font-weight: 400;
}

.arriving:after{
	content: '';
	height: 30px;
	width: 1px;
	background-color: #83a9ff;
	display: block;
	position: absolute;
	left: 50%;
	top: 18px;
}

.contact{
	position: fixed;
	bottom: 30px;
	left: 0;
	width: 100%;
	text-align: center;
}

.contact a{
	text-decoration: none;
	color: #83a9ff;
	font-size: 10px;
	line-height: 10px;
	font-weight: 400;
}

.contact:after{
	content: '';
	height: 30px;
	width: 1px;
	background-color: #83a9ff;
	display: block;
	position: absolute;
	left: 50%;
	bottom: 18px;
}


#center_content{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	height: 100vh;
	align-items: center;
}

#logo_container{
	height: auto;
}

#logo_container .image-container{
	margin-bottom: 10px;
}

#logo_container .image-container img{
	display: block;
	margin: 0 auto;
}

#logo_container .image-container,
#logo_container h1{
	position: relative;
}

#logo_container .image-container:after,
#logo_container h1:after{
	content: '';
	position: absolute;
	width: 0;
	height: 100px;
	background-color: #fff;
	display: block;
	top: 0;
	left: 0;
	transition: 1s width;
}

#logo_container .image-container.show-white-block:after,
#logo_container h1.show-white-block:after{
	width: 100%;
}